extends layout
block content
	.home-section
		h1.site-heading Authentication Widget
		.home-text
			span.home-content-text.
				Already Have account 
			a.home-content-link(href="/login") Login
			a.home-content-link(href="/signup") Signup