doctype html
head
	block meta
	title
		block title
			| #{title || 'SampleApp'}
	link(rel='stylesheet', href='/css/base.css')
	link(rel='stylesheet', href='/css/bootstrap.min.css')
	link(rel='stylesheet', type='text/css', href='css/jquery.countdown.css')
	link(rel='stylesheet', type='text/css', href='bootstrap-sweetalert/lib/sweet-alert.css')
body
	block content
	block footer
	script(type='text/javascript' src='/js/jquery-2.2.3.min.js')
	script(type='text/javascript' src='/js/bootstrap.min.js')
	script(type='text/javascript', src='js/jquery.plugin.min.js')
	script(type='text/javascript', src='js/jquery.countdown.min.js')
	script(type='text/javascript', src='bootstrap-sweetalert/lib/sweet-alert.min.js')
	block scripts