extends layout
block content
	a.back-link(href="/") home
	.home-section
		h2.reg-heading Login
		form#login-form.form-horizontal 
			.form-group
				label.col-sm-2.control-label.reg-label(for='source') Source
				.col-sm-10
					p= JSON.stringify(location)
					input#source.form-control(type='text')
			.form-group
				label.col-sm-2.control-label.reg-label(for='mobile_num') Mobile     
				.col-sm-10
					input#mobile_num.form-control(type='text' placeholder='Mobile Number') 
			.form-group
				.col-sm-offset-2.col-sm-10
					button.btn.btn-default.reg-sub-btn(type='submit') Signin
		.timer-section
			.modal.fade#timer-modal(tabindex='-1', role='dialog')
				.modal-dialog
					.modal-content
						.modal-header
						.modal-body
							p.timer-modal.
								We have sent you a link in sms to authenticate using finger print.Time Left
							#timer-widget
						.modal-footer
block scripts
	script(type='text/javascript' src='/js/base.js')
	script.
		(function(){
			$("#source").val(location.host);
		})();
