extends layout
block content
	a.back-link(href="/") home
	.home-section
		h2.reg-heading Registration
		form#signup-form.form-horizontal
			.form-group
				label.col-sm-2.control-label.reg-label(for='source') Source
				.col-sm-10
					input#source.form-control(type='text')
			.form-group
				label.col-sm-2.control-label.reg-label(for='mobile_num') Mobile     
				.col-sm-10
					input#mobile_num.form-control(type='text' placeholder='Mobile Number') 
			.form-group
				.col-sm-offset-2.col-sm-10
					button.btn.btn-default.reg-sub-btn(type='submit') Signup
	
block scripts
	script(type='text/javascript' src='/js/base.js')
	script.
		(function(){
			$("#source").val(location.host);
		})();