doctype html
head
	title
		block title
			| #{title || 'SampleApp'}
	link(rel='stylesheet', href='/css/base.css')
	link(rel='stylesheet', href='/css/bootstrap.min.css')
	link(rel='stylesheet', type='text/css', href='bootstrap-sweetalert/lib/sweet-alert.css')
body(style={"background-image": "none","background-color":"#000000"})
	a.back-link(href="/") Logout
	h2.welcome-header You have successfully Logged into Application
	h3.welcome-header Your Session details : Mobile Number - #{mobile}
	script(type='text/javascript' src='/js/jquery-2.2.3.min.js')
	script(type='text/javascript', src='bootstrap-sweetalert/lib/sweet-alert.min.js')
	script.
		(function(){
			$(".back-link").click(function(e) {
				e.preventDefault();
				swal({
					title : "Logged out successfully",
					type : "info"
				},function(){
					window.location = "/logout";
				});
				
			});
		})();
	