body {
	font-family: serif;
	height:100%;
   	width:100%;
    background: url("/images/fingerprint.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.site-heading {
	font-size: 40px;
}
.reg-heading {
	font-size: 30px;
	text-align: center;
	margin: 10px;
	padding: 10px;
}
.reg-label {
	width: 20px;
}

.home-section {
	float: right;
	margin-right: 10px;
	margin-top: 70px;
	padding: 5px;
	color: white;
	width: 420px;
}
#timer-widget {
	font-size: 30px;
	text-align: center;
	color : blue;
}
.timer-modal {
	color : #6A66A0;
	font-size: 17px;
}
.clearfix {
    overflow: auto;
}
.home-content-text {
	margin: 10px;
}
.home-content-link{
	color: #FFC107;
	margin: 5px;
}
.back-link {
	float: right;
	margin-top:10px;
	margin-right:20px;
	color: #FFC107;
}
.welcome-header {
	color: white;
	text-align: center;
}

a{
	color: #FFC107;
}
